@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jeep19');
  src:  url('fonts/icomoon.eot?jeep19#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jeep19') format('truetype'),
    url('fonts/icomoon.woff?jeep19') format('woff'),
    url('fonts/icomoon.svg?jeep19#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Group-15962:before {
  content: "\e900";
  color: #fff;
}
.icon-Path-39336:before {
  content: "\e901";
  color: #fff;
}
.icon-Group-6884:before {
  content: "\e902";
  color: #e80c1b;
}
.icon-Group-15957:before {
  content: "\e903";
  color: #fff;
}
.icon-Group-15958:before {
  content: "\e904";
  color: #e80c1b;
}
.icon-Group-15959:before {
  content: "\e905";
  color: #e80c1b;
}
.icon-Group-15960:before {
  content: "\e906";
  color: #fff;
}
.icon-Group-15961:before {
  content: "\e907";
  color: #fff;
}
