@media (max-width:1600px) {
    .looking-1, .looking-2 {
        width: 400px;
    }
    .hire-img img {
        width: 640px;
    }

}
@media (max-width:1400px) {
    .mst-img-sec .element {
        right: -92px;
        z-index: 11;
        width: 232px;
        bottom: -50px;
    }
    .looking-1, .looking-2 {
        width: 300px;
    }
    .an-check-llist li {
     
        font-size: 20px;
   
    }
}
@media (max-width:1350px) {
    .mst-img-sec .element {
        right: -55px;
        z-index: 11;
        width: 194px;
        bottom: -40px;
    }
}
@media (max-width:1280px) {
    .hire-img img {
        width: 540px;
    }

    .single-review-slider .slick-arrow {
       
        right: 40px;
      
    }
    .single-review-slider .slick-prev {
        right: 120px;
        left: auto;
    }

    .inCR {
        transform: scale(1.1);
        position: relative;
        left: 0rem;
    }
    .mst-img-sec .element {
        right: -52px;
        display: none;
        z-index: 11;
        width: 164px;
        bottom: -38px;
    }
    .process-box {
        width: 80%
    }

    .process-box h2 {
        font-size: 27px
    }

    .process-box.procs-bx-1,
    .process-box.procs-bx-2,
    .process-box.procs-bx-3,
    .process-box.procs-bx-4 {
        left: 25px
    }

    .proces-line-img {
        left: -30px;
        bottom: -25px;
        width: 100%;
    }
    
}

@media (min-width:320px) and (max-width:767px) {


    .modal-content:before {
        width: 100%;
        left: 0;
        right: 250px;
        margin: auto;
        top: -25px;
        background-position: left;
        background-size: 50px;
    }
    .packages-sec h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .serv-bx {
     
        height: 435px;
    }
    .packages-sec p {
        font-size: 16px;
        
    }
    .heading h3 {
        color: #fff;
        font-size: 24px;
       
    }
    .checklist li {
        width: 92%;
        padding-left: 30px;
        line-height: 1.4;
        float: left;
        color: #fff;
        position: relative;
        font-size: 18px;
        padding-bottom: 12px;
    }
    .single-review-slider .slick-arrow::before {
        content: '';
        position: absolute;
        background: url(../images/sprite.webp) no-repeat;
        width: 22px;
        height: 12px;
        transform: rotate(359deg);
    }
    .top-bar-main{
        display: none;
    }
    .looking-section {
        padding: 40px 0px;
    }
    .looking-section p {
        font-size: 15px;

        text-align: justify;
        /* text-align: center; */
    }

    .looking-section h4 {
        font-size: 22px;
        /* text-align: center; */
    }
    .an-primary-heading {
        font-size: 28px;
        color: #000000;
       text-align: center;
    }

    .an-check-llist li {width: 95%;font-size: 17px;}

    .looking-1, .looking-2 {

        display: none;
    }

    .strgle-img {
        margin: auto;
        text-align: center;
    }
    .strgle-img img {
        width: 70%;
    }
 
    .why-img-txt {
        bottom: -3px;

    }
    .mtMobile{
        margin-top: 2rem !important;
    }


    .hd-txt.serv-txt,
    .indust-tab-lst .nav-tabs li a,
    .process-box,
    .serv-bx,
    .why-choose-list ul li,
    section.cta-sec .hd-txt h2,
    section.cta-sec .hd-txt p {
        text-align: center
    }

    .bnr-txt h1,
    .hd-txt h2,
    .indus-tab-txt h2 {
        font-size: 40px;
    }

    .wow {
        animation-name: none !important;
        visibility: visible !important
    }

    .head_top .row,
    .main-banner .form-st form {
        flex-direction: column
    }

    .banner-img-bk img,
    .proces-line-img,
    .serv-bx h3 br,
    .serv-cta-btn .serv-cta-tel.popup-btn,
    .serv-cta-btn.inr-tab-btn.header-btn.cta-tab-btn a.serv-cta-tel.popup-btn {
        display: none
    }

    .logo img,
    .our-serv-sec .col-sm-12 {
        display: table
    }

    .bnr-txt h1 {
        padding-top: 25px
    }

    .main-banner .form-st form input {
        margin-bottom: 10px
    }

    .main-banner .form-st {
        margin-bottom: 20px
    }

    .industry-sec .tab-content .col-sm-12,
    .serv-cta-div {
        flex-direction: column;
        justify-content: center;
        text-align: center
    }

    .serv-cta-img {
        margin-top: 0
    }

    .serv-cta-btn {
        justify-content: center
    }

    .client-logo {
        margin-bottom: 0px;
    }

    .serv-bx {
        padding: 15px 20px
    }

    .serv-bx p {
        width: 100%
    }

    .industry-sec .tab-content {
        padding-top: 50px
    }

    .indus-tab-img {
        margin-top: 100px
    }

    .why-choose-list ul li {
        width: 100%
    }

    .why-choose-list ul {
        margin-top: 50px
    }

    section.cta-sec .hd-txt h2 {
        font-size: 25px;
    }

    .cta-side-img {
        margin-top: 0px;
    }

    .process-box {
        left: 0 !important;
        right: 0 !important;
        top: 0 !important;
        bottom: 0 !important;
        width: 100%
    }

    .process-sec {
        padding: 50px 0
    }

    .logo img {
        width: 30%;
        margin: 0 auto
    }
    button.slick-next.slick-arrow {
        transform: rotate(180deg);
    }
    .col-md-7.modal_heading {
        width: 95% !important;
    }
}

@media  (max-width:500px) {
    .modal_heading  h3 {
      margin-top: 68px;
    }
    .main-banner h1 {
    font-size: 36px;
    line-height: 51px;
}
ul.banner-list li {
    margin-left: 12px;
}
.banner-form {
    padding: 15px 10px 30px;
}
    .fancybox-close-small.close {
       
        top: 4px;
        right: -1px;
    }
    .modal-dialog {
        width: 315px;
        margin: 30px auto;
    }

    /* .col-md-7.modal_heading {
        width: 320px;
        margin: auto;
    } */
    .resume_box img {
    
        height: 340px;
    }
    .hire-img{
        margin: auto;
        text-align: center;
    }
    .hire-img img {
        width: 269px;
        margin: auto;
        text-align: center;
    }
    .banner_book_img img {
   
        display: none;
    }
    .test_section h2{
        text-align: center;
    }


    .test_section {
        padding: 30px 0 10px;
    }
    section.cta-sec-vid.case-tr-silla p {
 
        font-size: 14px;
    }
    section.glimpse-section {
        padding: 30px 0;
    }
    .contact-form {
      
        padding: 20px;
       
    }
    form.am-contact-style {
      
        padding: 15px;
    }
    .glimpse-section ul#tabs-nav {
    
        gap: 2px;
       
    }
    .glimpse-section ul#tabs-nav li {
        padding: 8px 9px;
        width: 70%;
        margin: 5px;
    
    }

    .tabs_img img {
      
        height: 230px;
        margin-bottom: 10px;
    }
    section.sec_portfolio {
        padding: 35px 0;

    }
    .right .form-group .form-select {
        background-color: #F3F3F3;
        color: #000;
        font-size: 13px;  
    }
    .right .form-group-select h6 {
        font-size: 16px;
    }
    .banner-form {
        background: #fff;
        padding: 15px 5px 15px;
       
    }
    
    .why-choose-service-head .choose_inner_div {
        padding: 15px 20px;
    }

    .process-sec .hd-txt, .testi-sec .hd-txt, section.sec_portfolio .hd-txt {
        padding-bottom: 0px;
    }
    .serv-bx h3{
        font-size: 17px;
        font-weight: 600;
    }
    .our-serv-sec

    .serv-bx {
        padding: 20px 20px;
        height: 100%;
    }

    .glimpse-section .section-title.text-center p {
        width: 96%;
        font-size: 14px;
    }
    .right .form-group-select .form-check-flex .form-check .form-check-label {
        color: #202020;
        font-size: 12px;
       
    }
    form.am-contact-style h2 {
        Color: black;
        font-size: 20px;
        padding: 10px 0;
    }
    .test_section h2 {
        text-align: center;
        font-size: 24px;
        padding-bottom: 10px;
    }
    section.cta-sample-section {
        padding: 20px 0;
    }
    .btn-style-one {
        /* position: relative; */
        display: inline-block;
        font-size: 16px;
        padding: 6px 15px;
    }
    .cta-sample-heading span {
        color: #000;
        font-size: 18px;
    }
    .cta-content-hire p {
        color: #000;
        text-align: left;
        line-height: 20px;
        font-size: 14px;
    }
    .section-title p {
        font-size: 16px;
        padding: 20px 15px;
    }
    .serv-col-main {
        padding: 0px 0 0;
    }
    section.stellar-design {
     
        padding: 0em 0;
       
    }
    .stellar-design h2 {
        font-size: 24px !important;
        padding-top: 40px;
    }
    .test_section svg:not(:host).svg-inline--fa, svg:not(:root).svg-inline--fa {
        
        color: #ffffff;
    }
    .head_top .serv-cta-btn.inr-tab-btn.header-btn.cta-tab-btn a.serv-cta-tel {
        margin-right: 15px;
        color: #fff;
    }
    .main-banner h1 {
        font-size: 26px;
        line-height: 30px;
    }

    .hd-txt p {
        font-size: 16px;
        font-weight: 300;
        padding: 10px 20px;
       
    }
    .rdes-head .hd-txt p {
        font-size: 14px;
        padding: 5px 10px;
        color: #000 !important;
        line-height: 22px;
    }
    .book-marketing-cta h3 {
        font-size: 30px;
    
    }
    .bnr-txt h1, .hd-txt h2, .indus-tab-txt h2 {
        font-size: 24px;
    }
    .process-sec .hd-txt h2, section.sec_portfolio .hd-txt h2 {
      
        font-size: 30px;
        margin-bottom: 0;
    }
    .why-choose-us-section h2 {
        margin-bottom: 15px;
        font-size: 30px;
        text-align: center;
    }

    section.glimpse-section h4 {
        color: #000;
        font-size: 24px;
    }
    .wrapper .carousel {
        grid-auto-columns: 82%;
    }
    .form_section h1 {
        text-align: center;
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 16px;
    }
    .contact-img img {
        width: 100%;
        object-fit: cover;
        height: auto;
    }
    .why-choose-service-head .choose_inner_div {
        width: 100%;
        height: auto;
    }
    .glimpse-section .tabs_img {
        justify-content: center;
        gap: 20px;
    }
    .modal_heading h3 span {
      font-size: 20px;
      color: #fff;
    }
    .modal-content {
       width: 325px;
       margin: auto;
       height: 660px !important;
    }
    .halloween-popup-inner {
        width: 100%;
        float: right;
        z-index: 99999;
    }

    .cta::after {
        display:none;
    }

    .cta::before {
        display: none ;
     }

    .main-banner {
       height: 100%;
       padding: 20px 0 50px;
    }

    .strgle-img img {
        width: 85%;
    }

    .indust-tab-lst .nav-tabs li a {
        
        margin: 0 4px;
        font-size: 16px;
        
    }
    .nav>li>a {
    
        padding: 8px 10px;
    }
    button.slick-next.slick-arrow {
        transform: rotate(180deg);
    }
    .why-box h3 {
        font-size: 20px;
    
    }
    .why-box {
        margin: 0 0px;
        background: #e1e1e1;
        padding: 25px 20px;
    }
    .hire_writer h2 {
        font-size: 24px;
      
    }
    .cta-new-sec h2 {
        font-size: 30px;
    }
    img.kenal-img-3 {
        position: absolute;
        width: 80px;
        left: 4px;
        bottom: 0;
        top: -284px;
        margin: auto;
    }
    img.kenal-img-2 {
        position: absolute;
        right: -6px;
        width: 90px;
        /* bottom: 10px; */
        top: -294px;
        margin: auto;
    }
    img.kenal-img-1 {
        top: -245px;
        margin: auto;
        left: 149px;
    }
    section.cta-sec-vid.case-tr-silla p {
        padding-top: 30px;
    }
    .bnr-btn a {
        margin-right: 14px;
        font-size: 17px;
        margin-bottom: 10px;
        justify-content: center;
        width: 70%;
        /* text-align: center !important; */
    }

    .banner-form-box h2 {
        font-size: 24px;
      
    }
    section.cta.book-Publishing-cta.looking-section svg:not(:host).svg-inline--fa,section.cta.book-Publishing-cta.looking-section svg:not(:root).svg-inline--fa{
color: #000;
    }
    .serv-cta-btn.inr-tab-btn.header-btn.cta-tab-btn a.serv-cta-tel {
        margin-right: 15px;
        color: #fff;
    }
    section.cta.book-Publishing-cta.looking-section .serv-cta-btn.inr-tab-btn.header-btn.cta-tab-btn a.serv-cta-tel{
        color: #000;
    }
    .right .form-group-select .form-check-flex .form-check {
        margin: 0 5px 10px;
        width: 55%;
       
    }
    .modal_content_inner button {
    
        padding: 8px 0;
        font-size: 16px;
    
    }
    .modal-content:before {
       display: none;
    }
    }
    

    @media  (max-width:375px) {
        .port-img.port-web-img-st {
            padding: 30px 10px 20px;
        }
        .third-sec-col {
            padding: 0px 30px;
        }
        .col-md-7.col-sm-8.col-12.modal_heading {
            width: 95%;
            margin: auto;
            padding: 0px 15px;
        }
        .modal-content {
            width: 97%;
        }
        .modal-dialog {
            width: 95%;
        } 
    }

@media  (max-width:320px) {
    .modal_heading h3 span {
        font-size: 18px;
        font-weight: 700;
        color: #fff;
    }
    .disclaimer {
        width: 99%;
    }
    .modal-content {
        width: 300px;
        margin: auto;
    }
}